body {
    background-color: black;
    color: white;
}

@media (max-width: 450px) {
    body {
        padding: 1px;
        justify-content: center;
        align-items: center;
    }

    

    .num-btn, .operator-btn {
        height: 60px;
        padding: 5px;
        margin-right: 2px; 
        font-size: 35px; 
        font-size: 15px;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
    }

}

.js-calculation {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 45px;
    margin-bottom: 2px;
    border: 2px solid white;
    width: 330px;
    height: 50px;
}

button {
    font-size: 21px;
    font-weight: bolder;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.num-btn {
    background-color: darkgray;
    color: white;
    border:2px solid transparent;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-right: 3px;
    width: 82px;
    height: 82px;
}

.operator-btn {
    background-color: orange;
    color: white;
    border:2px solid transparent;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-right: 3px;
    width: 82px;
    height: 82px;
}

.clear {
    display: flex;
    justify-content: center;
    align-items: center;

}
